.login-body{width: 100%;height: 400px}
.login-body .login-form{width: 450px;height:300px;margin: 40px auto;border:solid 1px #D4D4D4;background-color: #FCFCFC}
.login-body .login-form .login-title{height: 50px;background-color: #F2F2F2;border-bottom: solid 1px #D4D4D4;text-align: center;}
.login-body .login-form .login-title h3{margin: 0;line-height: 50px}
.login-body .login-form .login-account{margin-top: 20px;height: 50px}
.login-body .login-form .login-account div{width: 50%;height: 100%;margin: 0 auto;position: relative;background-color: #efeeee;overflow: hidden;cursor: text;}
.login-body .login-form .login-account div input{height: 100%;width: 70%;position: absolute;left: -70%}
.login-body .login-form .login-account div label{height: 100%;width: 100%;position: absolute;padding-left: 10px;text-align: left;line-height: 50px;cursor: text;display: block}